.header-search-bar {
  padding-right: 20px;
  display: flex;
}

.header-search-bar-input {
  border: none;
  height: 35px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  outline: none;
  width: 100%;
  background-color: white;
  transition: 1s;
}

.header-search-bar-input:focus {
  background-color: white;
}

.header-search-bar-input[type="text"] {
  padding-left: 30px;
  color: black;
  font-size: 16px;
}

.header-search-bar-input::placeholder {
  color: rgb(138, 135, 135);
  font-size: 16px;
}

.header-search-bar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  color: white;
  background-color: black;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}

.header-search-bar-button span {
  transition: 1.5s;
}

.header-search-bar-button svg:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}
