.my-account-tag{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items:last baseline;
    padding-bottom: 5px;
    bottom: 50%;
    transform: rotate(270deg);
    background-color: green;
    color: white;
    width: 100px;
    height: 30px;
    left: -35px;
    font-size: 13px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
    z-index: 8;
}


.my-account-tag:hover{
    transform: rotate(270deg) scale(1.1);
    transition: 0.2s;
}


.my-account-container{
    width: 320px;
    position: fixed;
    top: 60px;
    height: calc(100vh - 60px);
    z-index: 8;
    display: flex;
    justify-content: space-between;
    animation-name: show-account-animation;
    animation-duration: 0.3s;
}

@keyframes show-account-animation {
    from {
        transform: translateX(-100vw);
    }

    to{
        transform: translateX(0px);
    }
}

.hide-account-container{
    width: 320px;
    position: fixed;
    top: 60px;
    height: calc(100vh - 60px);
    z-index: 8;
    display: flex;
    justify-content: space-between;
    animation-name: hide-account-animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes hide-account-animation {
    from {
        transform: translateX(0px);
    }

    to{
        transform: translateX(-100vw);
        display: none;
    }
}

.my-account-header{
    border-bottom: 1px solid rgb(245, 239, 239);
    height: 70px;
}

.my-account-container__close{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: black;
    color: white;
    cursor: pointer;
}


.my-account-container__info{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 35%;
    font-size: 14px;

    margin-bottom: 15px;
}

.my-account-container__info--title{
    font-weight: 600;
    font-size: 16px;
    height: 40px;
    display: flex;
    align-items: center;

}

.my-account-container__info--order{
    font-weight: 600;
    font-size: 16px;
    background-color: black;
    color: white;
    height: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding: 25px 20px;
}

.my-account-container__info :nth-child(1){
    align-self: flex-start;
}

.my-account-container__orders{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65%;
}

.order-history-container {
    overflow-y: scroll;
}


.order-history-container::-webkit-scrollbar {
    width: 3px;
  }
   
  .order-history-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
  }
   
  .order-history-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 2px;
  }

