.modal-message-background{
    background: rgba(68, 68, 67, 0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    top: 0;
}

.modal-message-container{
    width: 250px;
    height: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.modal-message-container__buttons{
    display: flex;
    gap: 10px;
}

.modal-message-container__buttons--green{
    background-color: green;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.modal-message-container__buttons--red{
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.modal-message-container__text{
    text-align: center;
}
