.sign-up{
	width: 90%;
	min-width: 320px;
	max-width: 500px;
	min-height: 450px;
	padding: 30px;
	background: #FFFFFF;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}

.sign-up h2{
	background: black;
	text-transform: uppercase;
	color: white;
	font-size: 12px;
	font-weight: 300;
	padding: 20px;
	margin: -30px -30px 20px -30px;
}
.sign-up input[type="text"],
.sign-up input[type="email"],
.sign-up input[type="password"],
.sign-up textarea,
.sign-up select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 6px;
	height: 45px;
}
.sign-up textarea{
	resize:none;
	overflow: hidden;
}

.sign-up button[type="submit"]{
	background-color: black;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 12px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 10px;
	transition: 1s;
}

.sign-up button[type="submit"]:hover{
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.6);
	transition: 0.5s;
}

.label{
	text-align: center;
}

.required-message{
	color: red;
	font-size: 12px;
	padding: 10px;
	font-weight: 600;
}


